<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="AwardsContext" connectionString="Server=tcp:avasummerawards.database.windows.net,1433;Initial Catalog=avasummerawards;Persist Security Info=False;User ID=avanadeadmin;Password=#*O^nWc&amp;tg9MPP8e;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" />
  </connectionStrings>
  <appSettings>
    <add key="siteAddress" value="https://avasummerawards.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>